---

---

<button id="toogle-theme" class="px-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-moon hidden"
    ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="#ffffff"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-sun hidden"
    ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
      d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
      d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
      d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
      d="m19.07 4.93-1.41 1.41"></path></svg
  >
</button>

<script>
  const html = document.querySelector("html");
  const toggle = document.querySelector("#toogle-theme");

  const sunSVG = toggle?.querySelector(".lucide-sun");
  const moonSVG = toggle?.querySelector(".lucide-moon");

  const toggleTheme = () => {
    if (!html) return;
    if (html.classList.contains("dark")) {
      html.classList.remove("dark");
      localStorage.setItem("theme", "light");
      sunSVG?.classList.add("hidden");
      moonSVG?.classList.remove("hidden");
    } else {
      html.classList.add("dark");
      localStorage.setItem("theme", "dark");
      sunSVG?.classList.remove("hidden");
      moonSVG?.classList.add("hidden");
    }
  };

  toggle?.addEventListener("click", toggleTheme);

  document.addEventListener("DOMContentLoaded", () => {
    const currentTheme = localStorage.getItem("theme");
    if (currentTheme === "dark") {
      html?.classList.add("dark");
      sunSVG?.classList.remove("hidden");
    } else {
      html?.classList.remove("dark");
      moonSVG?.classList.remove("hidden");
    }
  });
</script>
