<!-- Create a modern text area with a send button to post a message (tailwind)  -->
<div
  id="send-box"
  class="flex flex-row items-center w-full h-16 px-5 py-2 bg-white border-t border-gray-200">
  <div class="flex-grow ml-4">
    <div class="flex flex-col md:flex-row gap-2 w-full">
      <textarea
        id="message"
        name="message"
        placeholder="Cuenta tus experiencias, dudas, etc"
        class="flex w-full h-10 px-4 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline resize-none overflow-hidden"
      ></textarea>
      <button
        type="submit"
        id="send"
        class="px-4 py-2 font-bold text-white bg-black rounded-lg hover:bg-gray-800"
        >Publicar</button
      >
    </div>
  </div>
</div>

<script>
  import { getActiveSession } from "@utils/appwrite";
  import { sendToChat } from "@utils/appwrite";

  const sendBox = document.getElementById("send-box");

  getActiveSession()
    .then((session) => {})
    .catch((err) => {
      if (sendBox) {
        sendBox.innerHTML = `
      <p class="p-4 w-full text-xl text-center"> Inicia sesión para poder publicar </p> 
      `;
      }
    });

  const message = document.getElementById("message");

  message?.addEventListener("keyup", textAreaAdjust);

  function textAreaAdjust(_) {
    if (!message) return;

    if (25 + message.scrollHeight >= 120) {
      return;
    }

    message.style.height = "1px";
    message.style.height = 25 + message.scrollHeight + "px";
  }

  const sendButton = document.getElementById("send");

  sendButton?.addEventListener("click", () => {
    if (!message) return;
    // @ts-ignore
    const messageValue = message.value;

    if (messageValue.trim() === "") return;

    sendToChat(messageValue)
      .then(() => {
        //@ts-ignore
        message.value = "";
        message.style.height = "40px";
        window.location.reload();
      })
      .catch((err) => {
        console.error(err);
      });
  });
</script>
