---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Espacio Personal",
    path: "/espacio-personal",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">Psico</span><span
            class="text-slate-500">nutrici贸n</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, _) => (
              <>
                {
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                    </a>
                  </li>
                }
              </>
            ))
          }
        </ul>
        <div class="auth lg:hidden invisible flex items-center mt-3 gap-4">
          <Link href="/auth/login" style="muted" block size="md">
            Inicia sesi贸n
          </Link>
          <Link href="/auth/register" size="md" block>Registrarse</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="auth hidden invisible lg:flex items-center gap-4">
        <a href="/auth/login">Inicia sesi贸n</a>
        <Link href="/auth/register" size="md">Registrarse</Link>
      </div>
    </div>
  </header>
</Container>

<script>
  import { getActiveSession, logout } from "@utils/appwrite";

  const authElements = document.querySelectorAll(".auth");

  getActiveSession()
    .then((session) => {
      if (!session) return;

      for (const authEl of authElements) {
        authEl.innerHTML = `
      <span class="text-gray-600">Hola, ${session.name}</span>
      <button class="logout border border-solid lg:p-4 p-2">
          Cerrar sesi贸n
        </button>
    `;
      }

      const logoutButtons = document.querySelectorAll(".logout");

      logoutButtons.forEach((btn) => {
        btn.addEventListener("click", () => {
          console.log("logout");
          logout().then(() => window.location.reload());
        });
      });
    })
    .catch((error) => {
      console.log(error);
    })
    .finally(() => {
      for (const authEl of authElements) {
        authEl.classList.remove("invisible");
      }
    });
</script>
