---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "PsicoNutrición"
  : "PsicoNutrición - Aprende sobre psicología y nutrición";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/gif/png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Web para aprender en profundidad sobre la psicología y la nutrición. Ve videos, lee artículos y desaoga tus sentimientos sobre estos temas."
      canonical={canonicalURL}
      twitter={{
        creator: "@meison_",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `PsicoNutrición - Aprende sobre psicología y nutrición`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Captura de la web de PsicoNutrición ",
        },
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
